.navegation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  margin-top: 10px;
}

.navegation-child {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.navegation-child-item {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: var(--color-background-keyboard);
  padding: 8px;
  border-radius: 5px;
  transition: color 0.3s ease;
}

.navegation-child-item:hover {
  color: var(--color-principal-background);
  cursor: pointer;
}

.flag {
  width: 24px;
  height: auto;
}