.header {
  width: 100%;
  max-width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  background-color: var(--color-background-title);
  border-radius: 5px;
  margin-top: 10px;
  cursor: default;
}

.header-child {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header-title {
  font-size: 20px;
}

.close {
  transition: color 0.3s ease-in-out;
}

.close:hover {
  color: var(--color-font-nav-hover);
  cursor: pointer;
}