:root {
  --color-principal-background: #1a1a;
  --color-correct-letter: #6aaa64;
  --color-present-letter: #c9b458;
  --color-incorrect-letter: #787c7e;
  --color-background-keyboard: #e2e4e7;
  --color-background-keyboard-hover: #d3d6da;
  --color-principal-text: #4a5a6a;
  --color-white: #fff;

  --font-principal: 'Roboto Mono', monospace;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-principal);
  color: var(--color-principal-text);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1, h2, h3 {
  margin: 0;
}

li {
  list-style: none;
}