:root {
  --color-font-principal: #393e4c;
  --color-font-secondary: #a8b0be;
  --color-font-keyboard: #46628a;
  --color-background-keyboard: #dce1ed;
  --color-background-nav: #ebedf2;
  --color-background-nav-hover: #e6f3e6;
  --color-font-nav-hover: #5aad5a;
  --color-font-nav: #414a5e;
  --color-background-title: #e5ecff;
  --color-correct-letter: #79B850;
  --color-present-letter: #F4C238;
  --color-incorrect-letter: #A4AFC4;
  --color-background-keyboard-hover: #d3d6da;
  --color-white: #ffffff;

  --font-principal: 'Montserrat', sans-serif;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-principal);
  color: var(--color-principal-text);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1, h2, h3 {
  margin: 0;
}

li {
  list-style: none;
}